name: Rust - Continuous Integration

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  check:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          target: wasm32-unknown-unknown
          override: false
      - name: Build (default features)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --workspace
      - name: Build (all features)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --workspace --all-features
      - name: Build (wasm32)
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --workspace --no-default-features --target wasm32-unknown-unknown --exclude wasmi_cli --exclude wasmi_wasi

  test:
    name: Test
    strategy:
      matrix:
        # windows-latest was pinned to windows-2019
        # because of https://github.com/paritytech/wasmi/runs/5021520759
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: false
      - name: Checkout Submodules
        run: git submodule update --init --recursive
      - name: Test (default features)
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: '--cfg debug_assertions'
        with:
          command: test
          args: --workspace --release
      - name: Test (all features)
        uses: actions-rs/cargo@v1
        env:
          RUSTFLAGS: '--cfg debug_assertions'
        with:
          command: test
          args: --workspace --release --all-features

  fmt:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: false
          components: rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: audit
          args: ''

  miri:
    name: Miri
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
          components: miri
      - name: Clippy (--lib)
        uses: actions-rs/cargo@v1
        with:
          command: miri
          args: test --lib --workspace
      - name: Clippy (--doc)
        uses: actions-rs/cargo@v1
        with:
          command: miri
          args: test --doc --workspace

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: false
          components: clippy
      - name: Clippy (default features)
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace -- -D warnings
      - name: Clippy (all features)
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --all-features -- -D warnings
      - name: Clippy (no_std)
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --no-default-features -- -D warnings
      - name: Clippy (tests)
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --workspace --tests -- -D warnings
